@page
@model PhotographyBusiness.Pages.AdminPages.AdminDashboardPageModel
@{
}



<div class="container d-flex flex-column">
    <h1 class="">Admin Dashboard</h1>
    <div class="btn-border-black" style="min-height: 53vh">

    </div>
</div>