@page
@model PhotographyBusiness.Pages.UsersPage.LogIndPageModel
@{
}
<div class="container">
    @Model.DisplayMessage

    <form method="post">
        <div class="form-group">
            <label asp-for="Email" class="col-form-label" ></label>
            <div>
                <input asp-for="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-form-label"></label>
            <div>
                <input asp-for="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>

        <div class="form-group">
            <button class="btn btn-outline-dark">Log in</button>
        </div>

    </form>
</div>