@page
@model PhotographyBusiness.Pages.AccountPages.LogInPageModel
@{
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="transparent-black">
    <div class="d-flex justify-content-center" style="min-height: 79vh;">
        <div class="d-flex flex-column m-4" style="min-width: 24vw">
                <form method="post" class="p-4" style="background-color: rgba(0,0,0,0.7); min-height: 20vh">
                    <div class="form-group p-2">
                        <label  asp-for="Userr.Email" class="control-lable text-white"></label>
                        <input asp-for="Userr.Email" class="form-control"/>
                        <span asp-validation-for="Userr.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group p-2">
                    <label  asp-for="Userr.Password" class="control-lable text-white"></label>
                    <input   asp-for="Userr.Password" type="password" class="form-control" />
                        <span asp-validation-for="Userr.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <a href="#" class="text-white p-2">Forgot password</a>
                    </div>
                    <div style="color:red" class="ms-2">
                        @Model.DisplayMessage
                    </div>

                    <div class="form-group text-center">
                    <button class="btn btn-dark btn-border-white btn-square p-2 mt-3" style="width: 95%;">Login</button>
                    </div>
                </form>
       </div>
    </div>
</div>


<style>
    .bg-img {
        background-image: url(../../wwwroot/media/img3.jpg);
    }
</style>

