@page
@model PhotographyBusiness.Pages.AboutUsPageModel
@{
}

<div class="d-grid mt-3 mb-3">
    <!-- This is the biography section -->
    <div class="container d-flex justify-content-center p-3">
        <img src="~/media/profilepic.jpg" alt="profile picture" style="height: 40vh; aspect-ratio: 1/1; object-fit: cover" class="pop-out"/>
        <div class="w-25 ms-5">
            <h4>Who am I?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Massa tempor nec feugiat nisl. Massa tempor nec feugiat nisl pretium fusce. 
                Faucibus nisl tincidunt eget nullam non. 
                Nisl condimentum id venenatis a condimentum vitae sapien pellentesque.
            </p>
        </div>
    </div>
    <!-- This is the product/services section-->
    <div class="bg-dark">
        <div class="container d-flex justify-content-center p-3 py-5 my-5">
            <div class="w-25 me-5 text-white">
                <h4>What we offer</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Massa tempor nec feugiat nisl. Massa tempor nec feugiat nisl pretium fusce.
                    Faucibus nisl tincidunt eget nullam non.
                    Nisl condimentum id venenatis a condimentum vitae sapien pellentesque.
                </p>
            </div>
            <i class="fa fa-camera-retro text-white pop-out" style="font-size: 15em" aria-hidden="true"></i>
            <!-- <img src="~/media/photographer.png" alt="profile picture" style="height: 40vh; aspect-ratio: 1/1; object-fit: cover" /> -->
        </div>
    </div>
    <!-- This is the location section -->
    <div class="">
        <div class="container d-flex justify-content-center mt-3 p-3 mb-3">
            <img src="~/media/maps.png" alt="profile picture" style="height: 40vh; aspect-ratio: 1/1; object-fit: cover" class="pop-out"/>
            <div class="w-25 ms-5">
                <h4>Where we're located</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Massa tempor nec feugiat nisl. Massa tempor nec feugiat nisl pretium fusce. 
                    Faucibus nisl tincidunt eget nullam non. 
                    Nisl condimentum id venenatis a condimentum vitae sapien pellentesque.
                </p>
            </div>
            
        </div>
    </div>
</div>

