@page
@model PhotographyBusiness.Pages.AboutUsPageModel
@{
}

<div class="d-grid pt-0 mt-3 mb-3">
    <!-- This is the biography section -->
    <div class="container d-flex justify-content-center p-3">
        <img src="~/media/profilepic.png" alt="profile picture" style="height: 40vh; aspect-ratio: 1/1; object-fit: cover" class="pop-out"/>
        <div class="ms-5" style="width: 30%"> 
            <h4>Who am I?</h4>
            <div>
                <p>
                    I am a passionate and skilled photographer dedicated to capturing the essence and beauty of life's precious moments.
                    With an artistic eye and technical expertise, I offer a range of professional photography services tailored to meet your unique needs.
                </p>
                <p>
                    I possess a strong artistic vision and technical expertise across various photography genres.
                    I bring a creative approach and attention to detail to every project.
                    I'm Committed to delivering exceptional results and exceeding client expectations, I strive to create captivating images that tell a unique story.
                </p>
            </div>
        </div>
    </div>
    <!-- This is the product/services section-->
    <div class="bg-dark">
        <div class="container d-flex justify-content-center p-3 py-5 my-4">
            <div class="me-5 text-white" style="width: 30%">
                <h4>What we offer</h4>
                <div>
                    <p>
                        1. Wedding Photography: Your special day deserves to be immortalized in timeless images.
                    </p>
                    <p>
                        2. Portrait Photography: Whether you're an individual, couple, or family, I strive to capture your true essence in every portrait.
                    </p>
                    <p>
                        3. Event Photography: From corporate gatherings to private celebrations, I will document your event with a keen eye for detail, ensuring every moment is beautifully captured.
                    </p>
                </div>
                
            </div>
            <!-- <i class="fa fa-camera-retro text-white pop-out" style="font-size: 20em" aria-hidden="true"></i> -->
            <img src="~/media/photographer-white.png" alt="profile picture" style="height: 45vh; aspect-ratio: 1/1; object-fit: cover" class="pop-out" />
        </div>
    </div>
    <!-- This is the location section -->
    <div class="">
        <div class="container d-flex justify-content-center mt-3 p-3 mb-3">
            <a href="https://www.google.com/maps/place/Birmingham,+UK/52.4973492,-1.8636315,11z/data=!3m1!4b1!4m6!3m5!1s0x4870942d1b417173:0xca81fef0aeee7998!8m2!3d52.486243!4d-1.890401!16zL20vMGszM3A" target="_blank" rel="noopener noreferrer">
                <img src="~/media/maps.png" alt="profile picture" style="height: 40vh; aspect-ratio: 1/1; object-fit: cover" class="pop-out" /></a>
            <div class="ms-5" style="width: 30%">
                <h4>Where we're located</h4>
                <div>
                    <p>Birmingham, UK</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Massa tempor nec feugiat nisl. Massa tempor nec feugiat nisl pretium fusce.
                        Faucibus nisl tincidunt eget nullam non.
                        Nisl condimentum id venenatis a condimentum vitae sapien pellentesque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

