@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/carousel.css" />

<div class="wrapper">
    <div class="carousel">
        <img src="media/img1.jpg" alt="img">
        <img src="media/img2.jpg" alt="img">
        <img src="media/img3.jpg" alt="img">
        <img src="media/img1.jpg" alt="img">
        <img src="media/img2.jpg" alt="img">
        <img src="media/img3.jpg" alt="img">
    </div>
    <div class="carousel">
        <img src="media/img1.jpg" alt="img">
        <img src="media/img2.jpg" alt="img">
        <img src="media/img3.jpg" alt="img">
        <img src="media/img1.jpg" alt="img">
        <img src="media/img2.jpg" alt="img">
        <img src="media/img3.jpg" alt="img">
    </div>
</div>

<div class="text-center">
    <a class="btn btn-lg btn-dark m-3" style="border-radius: 0">Enquiry</a>
</div>

<div class="w-100 text-center pt-4 pb-5" style="background-color: #000000">
    <h5 class="text-white m-2 pb-3">Reviews</h5>
    <div class="justify-content-around d-flex">
        <div class="review">
            <p class="text-white m-0">"The best photographer ever!"</p>
            <br />
            <p class="text-white m-0">A very real reviewer</p>
            <p class="text-white m-0">A very real place in the world</p>
        </div>
        <div class="review">
            <p class="text-white m-0">"His photos helped me beat cancer..."</p>
            <br />
            <p class="text-white m-0">A very real reviewer</p>
            <p class="text-white m-0">A very real place in the world</p>
        </div>
        <div class="review">
            <p class="text-white m-0">"I mean he's alright"</p>
            <br />
            <p class="text-white m-0">A very real reviewer</p>
            <p class="text-white m-0">A very real place in the world</p>
        </div>
    </div>
</div>