@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using PhotographyBusiness.Pages.AccountPages;

<link rel="stylesheet" href="css/carousel.css" />

<div class="wrapper">
    <div class="carousel">
        <img src="media/carousel1.jpg" alt="img">
        <img src="media/carousel4.jpg" alt="img">
        <img src="media/carousel2.jpg" alt="img">
        <img src="media/carousel5.jpg" alt="img">
        <img src="media/carousel3.jpg" alt="img">
    </div>
    <div class="carousel">
        <img src="media/carousel1.jpg" alt="img">
        <img src="media/carousel4.jpg" alt="img">
        <img src="media/carousel2.jpg" alt="img">
        <img src="media/carousel5.jpg" alt="img">
        <img src="media/carousel3.jpg" alt="img">
    </div>
</div>

@if (HttpContext.User.Identity.Name == "admin")
{
    <div class="text-center">
        <a class="btn btn-lg btn-dark m-3 btn-square pop-out" asp-area="" asp-page="/AdminPages/AdminDashboardPage">Admin Dashboard</a>
    </div>
}
@if (HttpContext.User.Identity.Name != null && HttpContext.User.Identity.Name != "admin")
{
    <div class="text-center">
        <a class="btn btn-lg btn-dark m-3 btn-square pop-out" asp-area="" asp-page="/BookingPages/CreateBookingRequestPage">Enquiry</a>
    </div>

}
@if (HttpContext.User.Identity.Name == null) 
{
    <div class="text-center">
        <a class="btn btn-lg btn-dark m-3 btn-square pop-out" asp-area="" asp-page="/AccountPages/CreateBookingAndUser">Enquiry</a>
    </div>
}


<div class="w-100 text-center pt-4 pb-3" style="background-color: #000000">
    <h5 class="text-white m-2 pb-3">What people have to say about us...</h5>
    <div class="justify-content-around d-flex">
        <div class="review d-flex flex-column justify-content-center align-content-start" style="width: 15%">
            <img src="~/media/five-star.png" style="height: 2.5vw" class="mb-3"/>
            <p class="text-white m-0">"Jack is incredibly easy to work with, friendly and professional. Most importantly of all, the end result and the quality of images was excellent. Would highly recommend him!"</p>
            <br />
            <a class="text-white m-0" href="https://goo.gl/maps/AZ138EqA13baG7kP8" target=" _blank">Dan Kohn</a>
            <a class="text-white mt-1" href="https://goo.gl/maps/AZ138EqA13baG7kP8" target=" _blank"><i class="fa fa-google fa-2x"></i></a>
        </div>
        <div class="review d-flex flex-column justify-content-center align-content-start" style="width: 15%">
            <img src="~/media/five-star.png" style="height: 2.5vw" class="mb-3"/>
            <p class="text-white m-0">"Jack captured our important wedding day in amazing photos! He made the photoshoot very effortless and we got also nice snapshots from a party."</p>
            <br />
            <a class="text-white m-0" href="https://goo.gl/maps/1rbvQiRmECL8rvWo6" target="_blank">Shero Shvan</a>
            <a class="text-white mt-1" href="https://goo.gl/maps/1rbvQiRmECL8rvWo6" target="_blank"><i class="fa fa-google fa-2x"></i></a>
        </div>
        <div class="review d-flex flex-column justify-content-center align-content-start" style="width: 15%">
            <img src="~/media/five-star.png" style="height: 2.5vw" class="mb-3"/>
            <p class="text-white m-0">"Jack provided an excellent professional service from start to finish. Responsive throughout the process and very pleased with the end result.  Would highly recommend Jack for all events!"</p>
            <br />
            <a class="text-white m-0" href="https://goo.gl/maps/Z3AQsExkSKsrnqWz8" target="_blank">Matthew Sharkey</a>
            <a class="text-white mt-1" href="https://goo.gl/maps/Z3AQsExkSKsrnqWz8" target="_blank"><i class="fa fa-google fa-2x"></i></a>
        </div>

    </div>
</div>

