@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="t-center"> Use this page to detail your site's privacy policy.</p>



<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9716120020223726"
        crossorigin="anonymous"></script>
<style>
    .t-center
    {

        text-align:center;
    }
    h1{text-align:center}
</style>



