@page "{id:int}"
@model PhotographyBusiness.Pages.BookingPages.BookingInfoPageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- kunde information -->
            <div>Admin</div>


        </div>
        <div class="col-md-4">
            <!-- admin information -->
            <div>Customer</div>
           


        </div>
    </div>
</div>
