@page
@model PhotographyBusiness.Pages.Portfolio.PortofolioWeddingModel
@{
}

<div class="d-grid mt-3 mb-3">
    <div class="container d-flex justify-content-center mb-3">
        <div id="carouselFade1" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 25vw">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/media/carousel1.jpg" alt="profile picture" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="~/media/carousel2.jpg" alt="profile picture" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="~/media/carousel3.jpg" alt="profile picture" class="d-block w-100" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFade1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="w-25 ms-5">
            <h5 style="white-space: nowrap; word-wrap: unset">Let us eternalize your greatest day</h5>
            <p>I strive to immortalize cherished moments, preserving them for eternity. 
                I am dedicated to capturing the emotions, connections, and stories that make each memory special, allowing them to be cherished for generations to come. 
                By freezing time in a single frame, I aim to create timeless images that evoke the same emotions and memories whenever they are revisited.</p>
        </div>
    </div>
    <div class="bg-dark">
        <div class="container d-flex justify-content-center mt-3 mb-3">
            <div class="w-25 me-5 text-white">
                <h5>Let's do it your way!</h5>
                <p>My mission is to bring your vision to life through my lens, capturing your unique story and style in every frame. 
                    I believe in collaborating closely to ensure your vision is realized. 
                    By prioritizing your preferences and incorporating your personal touch, I strive to create a photography experience that reflects your individuality and exceeds your expectations.</p>
            </div>
            <div id="carouselFade2" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 25vw">
                <div class="carousel-inner" style="">
                    <div class="carousel-item active">
                        <img src="~/media/carousel4.jpg" alt="profile picture" class="d-block w-100"/>
                    </div>
                    <div class="carousel-item">
                        <img src="~/media/carousel3.jpg" alt="profile picture" class="d-block w-100"/>
                    </div>
                    <div class="carousel-item">
                        <img src="~/media/carousel2.jpg" alt="profile picture" class="d-block w-100"/>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFade2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>