html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-border-white {
    box-shadow: inset 0px 0px 0px 1px white;
    border: 1px solid white;
}

.btn-square {
    border-radius: 0
}

.pop-out{
    transition: all .2s ease-in-out;
}


.pop-out:hover {
    transform: scale(1.1);
}

/*Add by Shero*/
/*.login-dropdown {
    background-image: url("../media/img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    opacity: 3;
}*/