body {
    background-image: url(../media/carousel1.jpg);
    background-size: cover;

}

.bg-img {
}

.btn-border-white {
    box-shadow: inset 0px 0px 0px 1px white;
    border: 1px solid white;
}

.btn-square {
    border-radius: 0;
    min-width: 5vw;
}

.transparent-black {
    background-color: rgba(0,0,0,0.6);
    min-height: 75.2vh
}


