@using PhotographyBusiness.Pages.AccountPages
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotographyBusiness</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhotographyBusiness.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/5d5c0091b5.js" crossorigin="anonymous"></script>





</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow border-bottom">
            <div class="container justify-content-center">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/media/logo.png" style="height: 65px" class="pop-out"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-grow-0">
                    <ul class="navbar-nav">


                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark" href="#">Weddings</a></li>
                                <li><a class="dropdown-item text-dark" href="#">Portraits</a></li>
                                <li><a class="dropdown-item text-dark" href="#">Automotive</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" href="#">Miscellaneous</a></li>
                            </ul>
                        </li>


                        <li class="nav-item ms-3">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About us</a>
                        </li>
                        @if (Context.User.Identity.Name == "admin")
                        {
                            <li class="nav-item ms-3">
                                <a class="btn btn-dark nav-link text-dark text-white" style="border-radius: 0; min-width: 5vw; max-width: 15vw" asp-area="" asp-page="/AdminPages/AdminDashboardPage">Dashboard</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-3">
                                <a class="btn btn-dark nav-link text-dark text-white" style="border-radius: 0; min-width: 5vw; max-width: 15vw" asp-area="" asp-page="/BookingPages/CreateBookingRequestPage">Enquiry</a>
                            </li>
                        }

                        

                       @{
                           if (Context.User.Identity.Name == null)
                           {
                                <li class="nav-item dropdown ms-3">
                          
                                
                            
                                    <a class="nav-link dropdown-toggle text-dark btn-border-black btn-square text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="min-width: 5vw; max-width: 15vw;">
                                    Login                              
                                    </a>
                          
                                    <div class="dropdown-menu login-dropdown dropdown-menu-center" style="min-width: 18vw;" aria-labelledby="navbarDropdown">                         
                                            <form asp-page="/AccountPages/LogInPage" method="post">
                                                <div class="text-dark mx-3">
                                                    <label for="inputEmail">Email address</label>
                                                    <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email">
                                                </div>
                                                <div class="text-dark mx-3">
                                                    <label for="inputPassword">Password</label>
                                                    <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Password">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <a class="btn btn-dark m-2 ms-3 btn-square" style="min-width: 5vw" asp-page="/AccountPages/CreateUserPage">Register</a>
                                                    <button type="submit" class="btn btn btn-border-black m-2 me-3 btn-square" style="min-width: 5vw">Sign in</button>
                                                </div>
                                            </form>
                                
                                    </div>

                                </li>                           
                           }
                          else
                          {
                                //<li class="nav-item">
                                //    User :@LogIndPageModel.LoggedInUser.Name
                                //</li>                        

                                <li class="nav-item dropdown ms-3">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-user pop-out"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item text-dark" asp-page="/AccountPages/MyProfilePage">My Profile</a></li>
                                        @if (Context.User.Identity.Name != "admin")
                                        {
                                            <li><a asp-page="/BookingPages/MyBookingPage" class="dropdown-item text-dark">My Bookings</a></li>
                                        }
                                        @if (Context.User.Identity.Name == "admin")
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item text-dark" asp-page="/BookingPages/GetAllBookingRequestsPage">Booking Requests</a></li>
                                            <li><a class="dropdown-item text-dark" asp-page="/BookingPages/GetAllBookings">Accepted Bookings</a></li>
                                            <li><a class="dropdown-item text-dark" asp-page="/AccountPages/GetAllUsersPage">Users</a></li>
                                            <li><a class="dropdown-item text-dark" asp-page="/AdminPages/AdminDashboardPage">Analytics</a></li>
                                        }
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" asp-page="/AccountPages/LogOutPage" >Logout</a></li>
                                        
                                    </ul>
                                </li>

                          }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="bg-white pb-1">
    <div class="d-flex justify-content-between container">
        <div class="pt-2">
            <img src="~/media/logo.png" style="height: 150px" class="pop-out" />
            <hr />
            <h5 style="font-size: 12px" class="pt-1">&copy2023 Copyright Jack Saunders Photography</h5>
        </div>
        
        <div class="pt-2">
            <h5 class="text-center">Follow us on</h5>
            <div class="d-flex">
                <div class="my-4 me-5">
                    <div>
                        <i class="fa fa-brands fa-square-twitter fa-2xl"></i><a class="text-dark" href="#" target="_blank" style="text-decoration: none;	font-size: 20px;
								"> Twitter</a><br />
                    </div>
                    <div>
                        <i class="fa fa-brands fa-square-facebook fa-2xl"></i><a class="text-dark" href="#" target="_blank" style="text-decoration: none;	font-size: 20px;
								"> Facebook</a><br />
                    </div>
                    
                </div>

                <div class="my-4">
                    <div style="pt-2">
                        <i class="fa fa-brands fa-square-instagram fa-2xl"></i><a class="text-dark" href="#" target="_blank" style="text-decoration: none;	font-size: 20px;
								"> Instagram</a><br />
                    </div>
                    <div style="">
                        <i class="fa fa-brands fa-square-youtube fa-2xl"></i><a class="text-dark" href="#" target="_blank" style="text-decoration: none;	font-size: 20px;
								"> Youtube</a><br />
                    </div>
                </div>
            </div>
            <hr />

            <div class="text-center">
                <a class="text-dark" href="/Privacy" style="text-decoration: none; font-size: 12px;
								"> Privacy Policy</a>
                <a class="text-dark" style="font-size:12px">|</a>
                <a class="text-dark" href="/Privacy" style="text-decoration: none; font-size: 12px;">
                    Terms & Conditions
                </a>
            </div>
        </div>
    </div>
</footer>



</html>
