@page
@model PhotographyBusiness.Pages.PhotoPages.GetPhotosModel
@using PhotographyBusiness.Pages.AccountPages
@{
}
 <div class="container lightbox mt-4 mb-2"  style="min-height: 75.2vh; box-sizing:content-box;">
        <h3>Your Pitcures</h3>
         <p>Her yo can finde your pictures</p>
        <hr />


    <div class="row g-3 container">
        @foreach (var photos in Model.Photos)
        {   
                <div class="col-4">
                    <div class="p border">
                    <img src="~/mediaUpload/@photos.FilePath"
                     class="p-2 border img-fluid rounded mb-1 mt-2 img-thumbnail"
                         alt="Img" />

                    @if (HttpContext.User.Identity.Name != "admin" && HttpContext.User.Identity.Name != null)
                    {
                        <form method="post">
                            <button type="submit"
                                class="p-1 mb-3 btn btn-border-white btn-border-white" 
                                style="border-radius: 0; min-width: 6vw;">
                                <i class="fas fa-plus" style="color: #3e4147;"></i>
                            </button>
                            <input type="hidden" name="id" value="@photos.Id">
                        </form>
                    }
                 
                  
                </div>
                </div>
        }
  
 </div>








